html, body {
    margin: 0;
}
#ssproma .link {
    width: 240px;
    height: 100px;
    text-decoration: none;
    position: absolute;
}
#ssproma .wrapper {
    width: 240px;
    height: 100px;
    overflow: hidden;
    position: relative;
}
#ssproma .content {
    width: 240px;
    height: 100px;
    background: #fcc200;
    overflow: hidden;
    position: relative;
}
#ssproma .image {
    width: 240px;
    height: 100px;
    overflow: hidden;
    position: absolute;
}
#ssproma .image__logo {
    width: 882px;
    position: absolute;
    top: -2px;
    left: 0px;
    animation: amin_logo 15s linear infinite;
}
@keyframes amin_logo {
    0% {opacity: 0; width: 882px;}
    5% {opacity: 1; width: 210px; top: 20px;}
    10% {opacity: 1; width: 210px; top: 20px; left: 0px;}
    20% {opacity: 1; width: 150px; top: 15px; left: -30px;}
    25% {opacity: 1; width: 150px; top: 15px; left: -30px;}
    to {opacity: 1; width: 150px; top: 15px; left: -30px;}
}
#ssproma .text {
    position: absolute;
    font: normal .9em Arial, serif;
    color: #000;
}
#ssproma .content__text1 {
    font-size: .8em;
    top: 13px;
    left: 240px;
    animation: text1 15s linear infinite;
}
@keyframes text1 {
    10% {left: 240px;}
    25% {left: 128px;}
    to {left: 128px;}
}
#ssproma .content__text2 {
    font-size: .8em;
    top: 26px;
    left: 240px;
    animation: text2 15s linear infinite;
}
@keyframes text2 {
    10% {left: 240px;}
    25% {left: 170px;}
    to {left: 170px;}
}
#ssproma .content__text3 {
    top: 58px;
    left: -100px;
    animation: text3 15s linear infinite;
}
@keyframes text3 {
    25% {left: -100px;}
    30% {left: 15px;}
    to {left: 15px;}
}
#ssproma .content__text4 {
    white-space: nowrap;
    top: 58px;
    left: 240px;
    animation: text4 15s linear infinite;
}
@keyframes text4 {
    35% {left: 240px; font-weight: normal;}
    44% {left: 105px;}
    45% {left: 105px; font-weight: normal;}
    65% {left: 105px; font-weight: bold; color: #000;}
    75% {left: 105px; color: #c0c0c0;}
    85% {left: 105px; color: #000;}
    to {left: 105px; font-weight: bold;}
}
#ssproma .content__text5 {
    top: 75px;
    left: 240px;
    animation: text5 15s linear infinite;
}
@keyframes text5 {
    35% {left: 240px; font-weight: normal;}
    44% {left: 123px;}
    45% {left: 123px; font-weight: normal;}
    65% {left: 123px; font-weight: bold; color: #000;}
    75% {left: 123px; color: #c0c0c0;}
    85% {left: 123px; color: #000;}
    to {left: 123px; font-weight: bold;}
}
#ssproma .content__fonunderresult {
    width: 240px;
    height: 38px;
    background: #FFF;
    position: absolute;
    top: 55px;
    left: 240px;
    animation: fonunderresult 15s linear infinite;
}
@keyframes fonunderresult {
    45% {left: 240px;}
    50% {left: 5px;}
    to {left: 5px;}
}